<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--发送命令前缀-->
    <add key = "SendCommand" value = "Msg_Comm" />
    <!--接收命令前缀-->
    <add key = "ReceiveCommand" value = "Msg_" />
    <!--切割数量-->
    <add key = "CutNum" value = "0" />

    <!-- 查询设备状态	0x01
          读取参数	    0x02
          设置参数	    0x03
          定位点设置	    0x04
          移动步长设置	0x05
          移动出光设置	0x06
          手动上料开始	0x07
          手动上料结束	0x08
          取消自动进料	0x09
          手动低速送料	0x0A
          手动低速退料	0x0B
          终止工作	    0x0C
          取消自动送料	0x0D
          压布棍升降	0x0E
          吹气测试	0x0F
          自动送料测试	0x10
          激光点射	0x11
          激光点射光强	0x12
          激光点射延时	0x13
          手动/自动	0x14
          文件信息传输	0x15
          文件数据传输	0x16
          空走测试	0x17
          暂停工作	0x18-->
    <!--主板指令-->
    <!--<add key = "Command" value = "0x01,0x02,0x03,0x04,0x05,0x06,0x07,0x08,0x09,0x0A,0x0B,0x0C,0x0D,0x0E,0x0F,0x10,0x11,0x12,0x13,0x14,0x15,0x16,0x17,0x18" />-->

    
    <!--基本查询时间频率  毫秒每次 单位：毫秒-->
    <add key = "BaseQueryHz" value = "500" />

    <add key = "user" value = "admin:C81E728D9D4C2F636F067F89CC14862C;guest:C4CA4238A0B923820DCC509A6F75849B;" />
    <!--自动连接（断开检测）时间频率  毫秒每次 单位：毫秒-->
    <add key = "ConnectHz" value = "2000" />
    <!--主板中最后一次写入的plt文件-->
    <add key = "LastPltFile" value = "" />
    <!--主板中最后一次设置的定位点坐标-->
    <add key = "LastOriginPoint" value = "0,0" />
    <!--激光点射延时 [10,500] 单位：ms（毫秒）-->
    <add key = "LaserPointTime" value = "100" />
    <!--激光点射光强 0-100-->
    <add key = "LaserPointLight" value = "20" />
    <!--手动上料长度 单位：mm（毫米）-->
    <add key = "ManualFeedLen" value = "10" />
    <!--手动上料偏移 单位：mm（毫米）SectionLen-->
    <add key = "FeedOffset" value = "300" />
    <!--手动上料分段长度 单位：mm（毫米）-->
    <add key = "SectionLen" value = "100" />
    <!--是否关闭激光头B-->
    <add key = "IsCloseLaserB" value = "false" />
    <!--程序启动是否写文件-->
    <add key = "IsWriteFile" value = "false" />
    <!--程序启动是写文件时和查询的间隔时间(毫秒)-->
    <add key = "WriteFileWaitTime" value = "0" />

    <!--程序启动等待成功执行查询次数后写文件()-->
    <add key = "WriteFileWait" value = "10" />
  </appSettings>
  
</configuration>